<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>   
  <body>
    <h1>WELCOME TO URL TEMPLATES</h1>
    <div>
    <a href="{% url 'storeuser' %}">store user</a>
    </div>
    <div>
    <a href="{% url 'storesentence' %}">store sentence</a>
    </div>
    <div>
    <a href="{% url 'storecountdate' %}">store count date</a>
    </div>
  </div>
  <div>
  <a href="{% url 'storecountweek' %}">store count week</a>
  </div>
    <div>
    <a href="{% url 'storeban' %}">store ban</a>
    </div>
  </body>
</div>
<div>
<a>serverid/userid/sentence/</a>
</div>
<div>
  <a>serverid/userid/count_date/year/month/day/</a>
  </div>
  <div>
  <a>serverid/userid/count_week/year/week/</a>
  </div>
  <div>
    <a>serverid/count_date/year/month/day/</a>
    </div>
    <div>
      <a>serverid/count_week/year/week/</a>
      </div>
      <div>
        <a>serverid/banned_check</a>
        </div>
</body>
</html>